        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0px;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
        }

        label {
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }

        input,
        input[type="text"],
        input[type="date"],
        textarea {
            width: 40%;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #333;
            color: #fff;
        }

        .product_field {
            margin-bottom: 10px;
            border: 3px solid #ccc;
            padding: 10px;
            border-radius: 5px;
        }

        .product_field label {
            display: inline-block;
            width: 120px;
        }
        .product_field input,textarea {
            width: 80%;
        }
        #extras{
            width: 95%;
        }

        .divider1{
            height: 4px;
        }

        .remove_product_field {
            background-color: #ccc;
            color: #333;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
        }
        .formdiv{
            width: 60%;
        }